Backup/UnpackedData/
Backup/UnpackedMods/
DownloadMods/**/*.7z
DownloadMods/**/*.GR2
DownloadMods/**/*.bak
DownloadMods/**/*.loca
DownloadMods/**/*.lsf
DownloadMods/**/*.pak
DownloadMods/**/*.png
DownloadMods/**/*.tif
DownloadMods/**/*.zip
DownloadMods/**/AI/
DownloadMods/**/AnimationOverrides/
DownloadMods/**/Assets/
DownloadMods/**/CharacterCreation/
DownloadMods/**/CharacterCreationPresets/
DownloadMods/**/Characters/
DownloadMods/**/Content/
DownloadMods/**/ErrorDescriptions/
DownloadMods/**/Factions/
DownloadMods/**/Flags/
DownloadMods/**/GUI/
DownloadMods/**/Globals/
DownloadMods/**/Japanese/
DownloadMods/**/Korean/
DownloadMods/**/LatinSpanish/
DownloadMods/**/Levels/
DownloadMods/**/MultiEffectInfos/
DownloadMods/**/Public/*/*.xml
DownloadMods/**/RootTemplates/
DownloadMods/**/Russian/
DownloadMods/**/STORY/
DownloadMods/**/Spanish/
DownloadMods/**/Tags/
DownloadMods/**/TooltipExtras/
DownloadMods/**/VirtualTextures/
History/
